.container {
  width: 20%;
  height: 100vh;
  background-color: #f2f2f24d;
}

.sidenav {
}

.sidenav-options {
  display: flex;
  margin: 10px;
}

.sidenav-options:hover {
  background-color: #f3e4fc;
  cursor: pointer;
}

.sidenav-label {
  color: #000000;
  font-weight: 600;
  padding: 10px;
}

.icon-color {
  color: #a100ff;
}

.close-icon {
  margin-left: 208px;
}
